/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0 auto;
  text-align: center;
  color: white;
  max-width: 300px;
}
.alert-info {
  background: rgba(50,183,150, 0.5);
}
.alert-info:hover {
  background: rgba(50,183,150, 1);
}
.alert-warning {
  background: $red;
}
